@{
    ViewData["Title"] = "Suites";
}

<div data-ng-app="suites" data-ng-controller="MainController as ctrl">

    <div class="container-fluid">
        <div class="row">
            <div class="page-header">
                <h1>
                    Suites
                    <button type="button" class="btn btn-default suite-buttons">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </button>
                </h1>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div data-ng-repeat="suite in ctrl.suites" data-ng-controller="SuiteController as sCtrl">
            <div class="row suite-header">
                <h3 class="col-sm-8">{{suite.name}}</h3>
                <div class="btn-group pull-right suite-buttons" role="group" aria-label="...">
                    <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="container-fluid suite-models">
                    <div class="row">
                        <b>Models</b>
                        <button type="button" class="btn btn-xs btn-default suite-buttons">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </button>
                    </div>
                    <div class="row">
                        <table class="table">

                            <tbody>
                                <tr data-ng-repeat="model in sCtrl.suite.models">
                                    <td class="col-sm-8">{{model.name}}</td>
                                    <td>
                                        <div class="btn-group pull-right suite-model-buttons" role="group" aria-label="...">
                                            <button type="button" class="btn btn-default">
                                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                            </button>
                                            <button type="button" class="btn btn-default">
                                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

@section scripts {
    <environment names="Development">
        <script src="~/js/suites.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/suites.min.js"></script>
    </environment>
}
