@{
    ViewData["Title"] = "Suites";
}

<div data-ng-app="suites" data-ng-controller="MainController as ctrl">

    <script type="text/ng-template" id="editSuiteDialog.html">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="dlgCtrl.cancel()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="editNew-label">Edit Suite</h4>
            </div>
            <div class="modal-body">
                <div class="form-group" data-ng-class="{'has-error' : dlgCtrl.errorDetails.hasError}">
                    <label class="control-label" for="suiteName">Name</label>
                    <input type="text" class="form-control" id="suiteName" placeholder="Enter name" ng-model="dlgCtrl.editItem.name">
                    <span class="help-block">{{dlgCtrl.errorDetails.errorDescription}}</span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="dlgCtrl.cancel()">Cancel</button>
                <button type="button" class="btn btn-primary" ng-click="dlgCtrl.save()">Save</button>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="editModelDialog.html">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="dlgCtrl.cancel()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="editNew-label">Edit Model</h4>
            </div>
            <div class="modal-body">
                <div class="form-group" data-ng-class="{'has-error' : dlgCtrl.errorDetails.hasNameError}">
                    <label class="control-label" for="modelName">Name</label>
                    <input type="text" class="form-control" id="modelName" placeholder="Enter name" ng-model="dlgCtrl.editItem.name">
                    <span class="help-block">{{dlgCtrl.errorDetails.nameErrorDescription}}</span>
                </div>
                <div class="form-group" data-ng-class="{'has-error' : dlgCtrl.errorDetails.hasLogoError}">                    
                    <label class="btn btn-default btn-file">
                        Change Logo <input type="file" style="display: none;" id="logoPicker" onchange="angular.element(this).scope().dlgCtrl.fileSelected(this.files)">
                    </label>
                    <span class="logo-filename">{{dlgCtrl.logoFile ? dlgCtrl.logoFile.name : ''}}</span>
                    
                    <span class="help-block">{{dlgCtrl.errorDetails.logoErrorDescription}}</span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="dlgCtrl.cancel()">Cancel</button>
                <button type="button" class="btn btn-primary" ng-click="dlgCtrl.save()">Save</button>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="editError.html">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="dlgCtrl.dismiss()" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="editNew-label">Something went wrong</h4>
            </div>
            <div class="modal-body">
                <p>{{dlgCtrl.errorMsg}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="dlgCtrl.dismiss()">Dismiss</button>
            </div>
        </div>
    </script>

    <script type="text/ng-template" id="confirmDialog.html">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="dlgCtrl.cancel()" aria-label="Cancel"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="editNew-label">{{dlgCtrl.title}}</h4>
            </div>
            <div class="modal-body">
                <p>{{dlgCtrl.content}}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="dlgCtrl.cancel()">{{dlgCtrl.cancelBtnText}}</button>
                <button type="button" class="btn btn-primary" ng-click="dlgCtrl.accept()">{{dlgCtrl.acceptBtnText}}</button>
            </div>
        </div>
    </script>

    <div class="container-fluid">
        <div class="row">
            <div class="page-header">
                <h1>
                    Suites
                    <button type="button" class="btn btn-default suite-buttons" ng-click="ctrl.addSuite()">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </button>
                </h1>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div data-ng-repeat="suite in ctrl.suites">
            <div class="row suite-header">
                <h3 class="col-sm-8">{{suite.name}}</h3>
                <div class="btn-group pull-right suite-buttons" role="group" aria-label="...">
                    <button type="button" class="btn btn-default" ng-click="ctrl.editSuite(suite)">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-default" ng-click="ctrl.deleteSuite(suite)">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="container-fluid suite-models">
                    <div class="row">
                        <b>Models</b>
                        <button type="button" class="btn btn-xs btn-default suite-buttons" ng-click="ctrl.addModel(suite.suiteId)">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                        </button>
                    </div>
                    <div class="row">
                        <table class="table">

                            <tbody>
                                <tr data-ng-repeat="model in suite.models">
                                    <td class="col-sm-8">
                                        <img ng-src="{{ctrl.modelLogoSource(suite.suiteId, model)}}" width="100" />
                                        <span>{{model.name}}</span>
                                    </td>
                                    <td>
                                        <div class="btn-group pull-right suite-model-buttons" role="group" aria-label="...">
                                            <button type="button" class="btn btn-default" ng-click="ctrl.editModel(suite.suiteId, model)">
                                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                            </button>
                                            <button type="button" class="btn btn-default" ng-click="ctrl.deleteModel(suite.suiteId, model)">
                                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                                            </button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

@section styles {
    <environment names="Development">
        <link rel="stylesheet" href="~/css/suites.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/suites.min.css" asp-append-version="true" />
    </environment>
}

@section scripts {
    <environment names="Development">
        <script src="~/js/suites.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/suites.min.js"></script>
    </environment>
}
