@{
    ViewData["Title"] = "Suites";
}

<h2>Suites</h2>

@section scripts {
    <environment names="Development">
        <script src="~/js/suites.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/suites.min.js"></script>
    </environment>
}
