.suite-header {
    background-color:aliceblue
}

.suite-buttons {
    margin: 10px;
}

.suite-models {
    margin-left: 10px;
}

.suite-model-buttons {
    padding-top: 10px;
}

.logo-filename {
    margin-left: 5px;
}